.splashContainer {
  align-items: center;
  background: url("../images/splash.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.splashContainer h1 {
  color: rgb(239, 239, 242);
  text-align: center;
}

.signUpOrLogin {
  align-items: center;
  background-color: rgba(224, 221, 235, .7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  width: 10%;
}

.signUpOrLogin a {
  margin: 3% 0;
}


.signupContainer {
  align-items: center;
  background: url("../images/signup.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.signupFormBackground{
  background-color: rgba(224, 221, 235, .7);
  border-radius: 5px;
  padding: 2%;
  width: 95%;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 102%;
}

.signupLabel{
  font-size: 1em;
  width: auto;
}
.signupInput {
  height: 1em;
}

.loginContainer {
  align-items: center;
  background: url("../images/signup.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
 .loginContainer h1 {
   color: black;
   text-align: center;
 }

.formBackground {
  background-color: rgba(224, 221, 235, .7);
  border-radius: 5px;
  padding: 2%;
  width: 60%;
}

.usernameSection,
.passwordSection,
.firstNameSection,
.lastNameSection,
.emailSection,
.passwordConfirmSection {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0;
}

.usernameSection i, .passwordSection i {
  margin: 0% 3% 0 0;
}
.login-btn {
  align-self: flex-end;
  margin: 2% 0% 0 0;
}



/* Books page styling */


/* Modal: */

.modal-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: 100px 0 0 0;
  position: fixed;
  right: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1;

}

.modal-container {
  background-color: rgba(106, 69, 69, 1);
  border: 1px solid rgba(110, 107, 107, 1);
  display: flex;
  flex-direction: column;
  left: 22%;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 0%;
  visibility: hidden;
  width: 60%;
  z-index: 3;
  height: auto;
  overflow-y: scroll;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-picture, .modal-footer {
  display: flex;
}

.modal-book-details, .modal-summary {
  display: flex;
  flex-direction: column;
}

.innerModalBookCover {
  height: 175px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(107, 139, 212);
  border-bottom-style: solid;
  border-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

nav a, nav .username {
  color: rgb(255, 255, 255);
  margin: 2% 5%;
  text-decoration: none;
}

.bookOuterContainer {
  align-items: center;
  background: url("../images/books1.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.bookInnerContainer {
  color: rgb(255, 255, 255);
  display: flex;
  overflow-x: auto;
  height: auto;
  text-decoration: none;
  width: 90%;
}


.bookInnerContainer a p{
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

.bookWrapper {
  margin: 0 3%;
}

.bookCover {
  width: 250px;
}



.show-modal {
  visibility: visible;
}


/* For tablet: */
@media only screen and (min-width: 768px) {
  .formBackground {
    width: 25%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {

}
