extends layout

block content
  .loginContainer
    h1 Jacky's and Gene's Simple Bookstore
    .formBackground
      form.signUpForm( action="/" method="POST")
        .usernameSection
          i.fa.fa-user-circle-o(aria-hidden="true")
          input(type="text" name="username" placeholder="Enter username") 
          br
        .passwordSection
          i.fa.fa-key(aria-hidden="true")
          input(type="password" name="password") 
          br
        input.login-btn(type='submit', value='Submit')
